.results-list {
    margin: 0 auto;
    width: 80%;
    text-align: left;
  
    h2 {
      margin-bottom: 10px;
    }
  
    .category-block {
      margin-bottom: 16px;
  
      h3 {
        margin: 10px 0;
        text-decoration: underline;
      }
  
      .item-button {
        background: none;
        border: none;
        color: #61dafb;
        cursor: pointer;
        padding: 0;
        font-size: 1rem;
        text-align: left;
  
        &:hover {
          text-decoration: underline;
          color: #fff;
        }
      }
    }
  }
  